<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un Film</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
<h1>Créer un Film</h1>
<form th:action="@{/films/create}" method="post">
    <label for="titre">Titre :</label>
    <input type="text" id="titre" name="titre" required><br>

    <label for="dateSortie">Date de Sortie :</label>
    <input type="date" id="dateSortie" name="dateSortie" required><br>

    <label for="description">Description :</label>
    <textarea id="description" name="description"></textarea><br>

    <label for="realisateur">Réalisateur :</label>
    <select id="realisateur" name="realisateur.id" required>
        <option th:each="realisateur : ${realisateurs}"
                th:value="${realisateur.id}"
                th:text="${realisateur.prenom} + ' ' + ${realisateur.nom}">
        </option>
    </select><br>

    <label for="categories">Catégories :</label><br>
    <div th:each="categorie : ${categories}">
        <input type="checkbox" id="categorie" name="categorieIds" th:value="${categorie.id}">
        <label th:for="categorie" th:text="${categorie.libelle}"></label><br>
    </div>

    <button type="submit">Enregistrer</button>
</form>
<a href="/films">Annuler</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
